<div class="container">
    <h1>BMI Calculator</h1>

    <!-- Option for providing height 
        and weight to the user-->
    <p>Height (in cm)</p>

    <input type="text" #heightTextBox  (input)="setHeight(heightTextBox.value)" [value]="height"> -->
    
    <p>Weight (in kg)</p>

    <input type="text" #weightTextBox (input)="setWeight(weightTextBox.value)" [value]="weight" >

    <p>Directive</p>
        <input type="text" [(ngModel)]="bmiIndex">  
            
    <button (click)="calculateBMI()">Calculate</button>

    <button (click)="Reset()">Reset</button>

    <!-- <div id="result">{{bmiIndex}} </div> -->
</div>